---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import { Image } from "astro:assets";

import one from "../images/1.jpeg";
import two from "../images/2.jpeg";
import three from "../images/3.jpeg";
import four from "../images/4.jpeg";
import five from "../images/5.jpeg";
import six from "../images/6.jpeg";
import seven from "../images/7.jpeg";
import eight from "../images/8.jpeg";
import nine from "../images/9.jpeg";
import ten from "../images/10.jpeg";
import eleven from "../images/11.jpeg";
import twelwe from "../images/12.jpeg";

const images = [
	{ file: one, alt: "Tea Castle" },
	{ file: two, alt: "River infront of a mountain" },
	{ file: three, alt: "Picture through a speedboat of a river" },
	{ file: four, alt: "Hike pathway" },
	{ file: five, alt: "Tall tree" },
	{ file: six, alt: "Tall trees" },
	{ file: seven, alt: "Overlooking road from a mountain" },
	{ file: eight, alt: "Person standing infront of a waterfall" },
	{ file: nine, alt: "Grassland with mist" },
	{ file: ten, alt: "Waterfall" },
	{ file: eleven, alt: "Grassland with a small waterfall" },
	{ file: twelwe, alt: "Strawberry flavored sweets" },
];
---

<Layout title="Ushira Dineth" description="Portfolio by Ushira Dineth">
	<main class="flex flex-col gap-8 min-w-[50%]">
		<!-- temporary -->
		<Title>Hey, I'm Ushira 👋</Title>
		<p>
			Full Stack Engineer focused on building products with extra attention to detail from UI/UX to Infrastructure and everything in
			between.
		</p>
		<p>
			As a Full Stack Software Engineer, I have successfully taken part in multiple project learning and understanding how software is built
			from end to end. Currently, I work mostly with TypeScript, NextJS, Terraform and Kuberentes. I have over an year of experience in
			working with client projects.
		</p>
		<div class="grid grid-flow-row grid-cols-3 gap-4">
			{
				images.map((image) => (
					<Image
						class="block rounded-sm object-cover w-full h-full"
						src={image.file}
						width={image.file.width}
						height={image.file.height}
						format={image.file.format}
						alt={image.alt}
					/>
				))
			}
		</div>
	</main>
</Layout>
