---
import { Image } from "astro:assets";

import type { ImageCollection } from "../lib/types";

interface Props {
	images: ImageCollection[];
}

const { images } = Astro.props;
---

<div class="hide-scrollbar flex gap-2 overflow-scroll overflow-x-visible md:gap-4">
	{
		images.map((image, index) => (
			<Image
				class={`my-4 block h-40 w-40 rounded-lg object-cover hover:scale-105 ${
					index % 2 === 0 ? "hover:rotate-1" : "hover:-rotate-1"
				} transition-all duration-500`}
				src={image.file}
				width={image.file.width}
				height={image.file.height}
				format={image.file.format}
				alt={image.alt}
			/>
		))
	}
</div>
