---
import { Image } from "astro:assets";
import type { ImageCollection } from "../lib/types";

interface Props {
	images: ImageCollection[];
}

const { images } = Astro.props;
---

<div class="grid grid-flow-row grid-cols-3 gap-2 md:gap-4">
	{
		images.map((image, index) => (
			<Image
				class={`block rounded-lg object-fill w-full h-full hover:scale-105 ${
					index % 2 === 0 ? "hover:rotate-1" : "hover:-rotate-1"
				} transition-all duration-500`}
				src={image.file}
				width={image.file.width}
				height={image.file.height}
				format={image.file.format}
				alt={image.alt}
			/>
		))
	}
</div>
