---
import { Image } from "astro:assets";
import type { Job } from "../lib/types";
import List from "./List.astro";
import Underline from "./Underline.astro";
interface Props {
	job: Job;
}

const { job } = Astro.props;
---

<div class="flex flex-col gap-4">
	<div class="flex border-border gap-2 items-center">
		<div class="rounded-full bg-primary-foreground w-fit h-fit p-4">
			<Image
				class="block rounded-lg object-cover w-10 h-10 drop-shadow-xl"
				src={job.icon}
				width={job.icon.width}
				height={job.icon.height}
				format={job.icon.format}
				alt={job.company}
			/>
		</div>
		<div class="flex flex-col">
			<a href={job.href} class="group w-fit">
				<Underline>
					<span class="flex items-center justify-center gap-2">
						<h2 class="font-medium text-xl">{job.company}</h2>
						<div class="transform transition-transform duration-500 ease-in-out group-hover:-rotate-12">&rarr;</div>
					</span>
				</Underline>
			</a>
			<p class="text-muted">{job.designation} • {job.period}</p>
		</div>
	</div>
	<List>
		{job.points.map((point) => <li>{point}</li>)}
	</List>
</div>
