---
import type { Job } from "../lib/types";
import List from "./List.astro";
import RoundedIcon from "./RoundedIcon.astro";
import Underline from "./Underline.astro";

interface Props {
	job: Job;
}

const { job } = Astro.props;
---

<div class="flex flex-col gap-4">
	<div class="flex items-center gap-2">
		<RoundedIcon icon={job.icon} alt={job.company} />
		<div class="flex flex-col">
			<a href={job.href} class="group w-fit">
				<Underline>
					<span class="flex items-center justify-center gap-2">
						<h2 class="text-xl font-medium">{job.designation}</h2>
					</span>
				</Underline>
			</a>
			<p class="hidden text-muted sm:block">{job.company} • {job.period}</p>
		</div>
	</div>
	<p class="text-muted sm:hidden">{job.designation} • {job.period}</p>
	<List>
		{job.points.map((point) => <li>{point}</li>)}
	</List>
</div>
