---
import Icon from "astro-icon";

import type { Project } from "../lib/types";
import Badge from "./Badge.astro";
import IconLink from "./IconLink.astro";
import IconLinkSet from "./IconLinkSet.astro";
import RoundedIcon from "./RoundedIcon.astro";

interface Props {
	project: Project;
}

const { project } = Astro.props;
---

<div class="group flex h-full w-full flex-col flex-wrap gap-2 rounded-lg border border-muted p-4 hover:border-dotted">
	<div class="mb-2 flex gap-4">
		<RoundedIcon icon={project.icon} alt={project.title} />

		<div class="flex h-full flex-col items-start justify-center gap-2 text-xl font-medium">
			<h2>
				{project.title}
			</h2>
			<IconLinkSet>
				{
					project.links.map((link) => (
						<IconLink label={link.href} href={link.href}>
							<Icon name={link.logo} />
						</IconLink>
					))
				}
			</IconLinkSet>
		</div>
	</div>

	<p class="text-xs text-muted">{project.designation} • {project.period}</p>

	<div class="flex w-full flex-wrap">
		<p>{project.description}</p>
	</div>

	<div class="mt-auto flex flex-wrap gap-2">
		{project.technologies.map((technology) => <Badge>{technology}</Badge>)}
	</div>
</div>
