---
import Icon from "astro-icon";
import type { Project } from "../pages/projects.astro";
import IconLink from "./IconLink.astro";
import IconLinkSet from "./IconLinkSet.astro";
import List from "./List.astro";
import Badge from "./Badge.astro";

interface Props {
	project: Project;
}

const { project } = Astro.props;
---

<div>
	<div class="flex flex-col border-border pb-4 gap-1">
		<div class="flex items-center justify-center gap-2 w-fit">
			<h2 class="font-medium text-xl">{project.title}</h2>
			<IconLinkSet slot="links">
				{
					project.links.map((link) => (
						<IconLink href={link.href}>
							<Icon name={link.logo} />
						</IconLink>
					))
				}
			</IconLinkSet>
		</div>
		<p class="text-muted">{project.designation} • {project.period}</p>
		<div class="flex flex-wrap gap-2">
			{project.technologies.map((technology) => <Badge>{technology}</Badge>)}
		</div>
	</div>
	<List>
		<li>{project.description}</li>
	</List>
</div>
