---
import Icon from "astro-icon";
import IconLink from "./IconLink.astro";
import IconLinkSet from "./IconLinkSet.astro";
import Badge from "./Badge.astro";
import type { Project } from "../lib/types";
import RoundedIcon from "./RoundedIcon.astro";

interface Props {
	project: Project;
}

const { project } = Astro.props;
---

<div class="flex gap-2 flex-col w-full flex-wrap border border-muted border-dashed hover:border-dotted h-full rounded-lg p-4 group">
	<div class="flex gap-4 mb-2">
		<RoundedIcon icon={project.icon} alt={project.title} />

		<div class="flex flex-col gap-2 h-full items-start justify-center font-medium text-xl">
			<h2>
				{project.title}
			</h2>
			<IconLinkSet>
				{
					project.links.map((link) => (
						<IconLink label={link.href} href={link.href}>
							<Icon name={link.logo} />
						</IconLink>
					))
				}
			</IconLinkSet>
		</div>
	</div>

	<p class="text-muted text-xs">{project.designation} • {project.period}</p>

	<div class="flex w-full flex-wrap">
		<p>{project.description}</p>
	</div>

	<div class="flex flex-wrap gap-2 mt-auto">
		{project.technologies.map((technology) => <Badge>{technology}</Badge>)}
	</div>
</div>
