---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
	icon: ImageMetadata;
	alt: string;
}

const { icon, alt } = Astro.props;
---

<div class="h-fit w-fit rounded-full bg-accent p-4">
	<Image
		class="block h-10 w-10 rounded-lg object-cover drop-shadow-xl transition-all duration-500 group-hover:scale-110"
		src={icon}
		width={icon.width}
		height={icon.height}
		format={icon.format}
		alt={alt}
	/>
</div>
