---
import { Image } from "astro:assets";

interface Props {
	icon: ImageMetadata;
	alt: string;
}

const { icon, alt } = Astro.props;
---

<div class="rounded-full bg-secondary w-fit h-fit p-4">
	<Image
		class="block rounded-lg object-cover w-10 h-10 drop-shadow-xl group-hover:scale-110 transition-all duration-500"
		src={icon}
		width={icon.width}
		height={icon.height}
		format={icon.format}
		alt={alt}
	/>
</div>
