---
import "@fontsource-variable/roboto-mono";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	description: string;
	tags?: string[];
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pathname = `${Astro.url.pathname === "/" ? "index" : Astro.url.pathname.substring(0, Astro.url.pathname.length - 1)}`;
const ogImage = `${Astro.site}og/${pathname}.png`;
const defaultTags = ["Ushira Dineth", "Software Engineer", "Portfolio"];

const { title, description, tags: providedTags } = Astro.props;

const tags = [...defaultTags, ...(providedTags ? providedTags : [])];
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="keywords" content={tags.join(", ")} />
		<meta name="author" content="Ushira Dineth" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:image" content={ogImage} />
		<meta property="og:type" content="profile" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:description" content={description} />
		<meta property="og:locale" content="en_GB" />
		<meta property="twitter:image" content={ogImage} />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={canonicalURL} />

		<script is:inline>
			const local = localStorage.getItem("theme");
			const system = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";

			const theme = local ?? system;
			document.documentElement.classList.remove("light", "dark");
			document.documentElement.classList.add(theme);
		</script>

		<style is:global>
			:root {
				--text: 16, 22, 25; /* #101619 */
				--background: 247, 252, 254; /* #f7fcfe */
				--primary: 46, 82, 97; /* #2e5261 */
				--accent: 255, 241, 242; /* #fecdd3 (rose-200) */
				--accent-contrast: 250, 245, 255; /* #faf5ff (purple-50) */
				--muted: 128, 152, 155; /* #80989b */
				--border: 24, 24, 27, 0.1; /* #18181b1a */
			}

			.dark {
				--text: 243, 243, 242; /* #f3f3f2 */
				--background: 18, 18, 18; /* #121212 */
				--primary: 159, 195, 210; /* #9fc3d2 */
				--accent: 15, 23, 42; /* #0f172a (slate-900) */
				--accent-contrast: 30, 41, 59; /* #1e293b (slate-800) */
				--muted: 128, 152, 155; /* #80989b */
				--border: 255, 255, 255, 0.1; /* #ffffff1a */
			}

      [data-icon] {
        font-size: 1.5rem;
				color: var(--text);
			}

			.hide-scrollbar::-webkit-scrollbar {
				display: none;
			}

			.hide-scrollbar {
				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none; /* Firefox */
			}

			/* Continuous gradient animation */
			@keyframes moveGradient {
				0% {
					background-position: 50% 50%;
				}
				20% {
					background-position: 100% 100%;
				}
				40% {
					background-position: 0% 0%;
				}
				60% {
					background-position: 100% -100%;
				}
				80% {
					background-position: -100% 100%;
				}
				100% {
					background-position: 50% 50%;
				}
			}

			.custom-gradient {
				background: radial-gradient(ellipse at center, rgba(var(--accent), 1), rgba(var(--background), 1));
				filter: url(#grainy);
				background-size: 200% 200%;
				animation: moveGradient 24s ease infinite;
			}
		</style>

		<ViewTransitions />
	</head>
	<body class="flex flex-col items-center font-roboto tracking-tight text-pretty text-text">
		<main class="flex w-full justify-center">
			<div id="content" class="flex flex-col min-h-screen max-w-[1080px] w-full">
				<Header transition:persist />
				<main class="flex min-w-[50%] flex-col gap-4 py-8 px-4">
					<slot />
				</main>
				<Footer />
			</div>
			<div id="background" class="flex fixed -z-10 bg-sky-200 h-full w-full flex-col gap-4 custom-gradient">
				<svg width="0" height="0">
					<filter id="grainy" x="0" y="0" width="100%" height="100%">
						<feTurbulence type="fractalNoise" baseFrequency="1"></feTurbulence>
						<feColorMatrix type="saturate" values="0"></feColorMatrix>
						<feBlend in="SourceGraphic" mode="multiply"></feBlend>
					</filter>
				</svg>
			</div>
		</main>
	</body>
</html>
