---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/roboto-mono";

interface Props {
	title: string;
	description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pathname = `${Astro.url.pathname === "/" ? "index" : Astro.url.pathname.substring(0, Astro.url.pathname.length - 1)}`;
const ogImage = `${Astro.site}og/${pathname}.png`;

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={canonicalURL} />

		<meta property="og:title" content={title} />
		<meta property="og:image" content={ogImage} />
		<meta property="og:type" content="profile" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:description" content={description} />
		<meta property="og:locale" content="en_GB" />
		<meta property="twitter:image" content={ogImage} />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />

		<title>{title}</title>
		<style is:global>
			:root {
				--primary: #f7fcfe;
				--primary-foreground: #474a4d;
				--secondary: #474a4d;
				--secondary-foreground: #f7fcfe;
				--border: #474a4d;
				--muted: #80989b;
			}

			.dark {
				--primary: #121212;
				--primary-foreground: #f3f3f2;
				--secondary: #f3f3f2;
				--secondary-foreground: #121212;
				--border: #f3f3f2;
				--muted: #80989b;
			}

			.no-scrollbar::-webkit-scrollbar {
				display: none;
			}

			.no-scrollbar {
				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none; /* Firefox */
			}
		</style>
	</head>
	<body class="flex flex-col items-center bg-primary text-primary-foreground tracking-tight font-roboto">
		<main class="flex flex-col p-4 md:gap-8 gap-4 h-screen max-w-[1024px]">
			<Header />
			<slot />
			<Footer />
		</main>
	</body>
</html>
